src/tl.employersupport.ecrm.poc.application.logic/ZendeskEcrmWorkflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Send_ticket_created_email": {
              "type": "Function",
              "inputs": {
                "body": "@triggerBody()",
                "function": {
                  "id": "/subscriptions/9a7620ed-46c4-475f-b7ac-a6502e490e88/resourceGroups/tlzdecrmpoc-rg/providers/Microsoft.Web/sites/tlzdecrmpocdev-func/functions/SendTicketCreatedNotification"
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              }
            },
            "Get_ECRM_account_id": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://todo-get-ecrm-api.gov.uk"
              },
              "runAfter": {
                "Retrieve_ticket_details": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "staticResult": {
                  "name": "HTTP0",
                  "staticResultOptions": "Enabled"
                }
              }
            },
            "Initialize_CRM_Employer_id_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "EmployerId",
                    "type": "string",
                    "value": "@body('Parse_JSON')?['accountid']"
                  }
                ]
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_ECRM_account_id')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountid": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_ECRM_account_id": [
                  "Succeeded"
                ]
              }
            },
            "Compose_modify_tags_request": {
              "type": "Compose",
              "inputs": {
                "ticketId": "@variables('TicketId')",
                "tags": [
                  "@{concat('crm_id_',variables('EmployerId'))}"
                ]
              },
              "runAfter": {
                "Initialize_CRM_Employer_id_variable": [
                  "Succeeded"
                ]
              }
            },
            "Parse_initial_request_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              },
              "runAfter": {}
            },
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "TicketId",
                    "type": "integer",
                    "value": "@body('Parse_initial_request_JSON')?['id']"
                  }
                ]
              },
              "runAfter": {
                "Parse_initial_request_JSON": [
                  "Succeeded"
                ]
              }
            },
            "ModifyZendeskTicketTags": {
              "type": "Function",
              "inputs": {
                "body": "@outputs('Compose_modify_tags_request')",
                "function": {
                  "id": "/subscriptions/9a7620ed-46c4-475f-b7ac-a6502e490e88/resourceGroups/tlzdecrmpoc-rg/providers/Microsoft.Web/sites/tlzdecrmpocdev-func/functions/ModifyZendeskTicketTags"
                }
              },
              "runAfter": {
                "Compose_modify_tags_request": [
                  "Succeeded"
                ]
              }
            },
            "Retrieve_ticket_details": {
              "type": "Function",
              "inputs": {
                "body": {
                  "id": "@variables('TicketId')"
                },
                "function": {
                  "id": "/subscriptions/9a7620ed-46c4-475f-b7ac-a6502e490e88/resourceGroups/tlzdecrmpoc-rg/providers/Microsoft.Web/sites/tlzdecrmpocdev-func/functions/RetrieveEmployerContactTicket"
                }
              },
              "runAfter": {
                "Send_ticket_created_email": [
                  "Succeeded"
                ]
              }
            },
            "Send_response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "Parse_initial_request_JSON": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "staticResults": {
            "HTTP0": {
              "status": "Succeeded",
              "outputs": {
                "statusCode": "OK",
                "headers": {},
                "body": {
                  "accountId": "881121dc-fb3c-4609-bac9-456bd957c3f8"
                }
              }
            }
          }
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}